// WIDGET GLOBAL THEME STYLES

// EXAMPLE, you can remove this styles
.btn {
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  border-radius: 50px;
}

.btn-lg {
  padding-right: 2rem;
  padding-left: 2rem;
}

.btn-primary {
  color: #fff;

  background-color: #61a60e;
  border-color: #61a60e;
}

.btn-outline-primary {
  color: #61a60e;

  border-color: #61a60e;
}
